# Задание 7. Кластерный анализ

In [16]:

KLast = read.csv(file = 'data/KLast.csv', sep = ';') 

names(KLast)

kl = KLast[-1]

rownames(kl) =  KLast$vid

kl1 = t(kl)

kl_hc = hclust(dist(kl1))
#kl_hc1 = hclust(dist(kl))

plot(kl_hc)
#plot(kl_hc1)

 [1] "vid"     "mause"   "rat"     "cavy"    "rabbit"  "cat"     "dog"
 [8] "sheep"   "bull"    "giraffe" "pig"     "horse"

Warning message in dist(kl):
"в результате преобразования созданы NA"

ERROR: Error in hclust(dist(kl)): NA/NaN/Inf при вызове внешней функции (аргумент 10)

In [22]:
# разабьем полученные результаты на 4 класстера 
k4 = kmeans(kl1, 4)
k4

# K-means clustering with 4 clusters of sizes 7, 1, 1, 2

# Clustering vector:
#   mause     rat    cavy  rabbit     cat     dog   sheep    bull 
#     1       1       1       1       1       1       1       4 
#   giraffe     pig   horse 
#       4       3       2 

#в 1 класстер входят: mause, rat, cavy, rabbit, cat, dog, sheep.
# во 2 => hourse, в 3 pig и в 4 bull, giraffe.

Warning message in storage.mode(x) <- "double":
"в результате преобразования созданы NA"

ERROR: Error in do_one(nmeth): NA/NaN/Inf при вызове внешней функции (аргумент 1)

In [ ]:
#попробуем разделить всю совокупность на 2 класстера
k2 = kmeans(kl1, 2)
k2

# K-means clustering with 2 clusters of sizes 8, 3

# Clustering vector:
#   mause     rat    cavy  rabbit     cat     dog   sheep    bull 
#   1       1       1       1       1       1       1       2 
#   giraffe     pig   horse 
#   2       1       2 

#в 1 класстер входят: mause, rat, cavy, rabbit, cat, dog, sheep, pig.
# во 2 => hourse, bull, giraffe.

#Вывод оба варианта разделены удачно, по результатом можно сделать вывод 
#что близкие по виду животные кластеризируются вместе

In [23]:
#выполним другие методы находжения опорных точек

d = dist(scale(kl1), method = "euclidean")

plot(hclust(d, method = "average" ), cex = 0.7, hang=-1)

plot(hclust(d, method = "complete" ), cex = 0.7, hang=-1)

ERROR: Error in colMeans(x, na.rm = TRUE): 'x' должен быть числом

In [24]:
#Выполним построение "нечетких" кластеров для традиционного
#использованием функции fanny() из пакета cluster:
  
library(cluster)
set.seed(123)

In [25]:
res.fanny = fanny(kl1, k = 4, memb.exp = 1.7,
                   metric = "euclidean", stand = TRUE, maxit = 500)
print(head(res.fanny$membership),3)
res.fanny$coeff

# При k = 4 в результате выводится матрица коэффициентов
# принадлежности, максимальный из которых определяет назначаемый кластер.
# Так из приведенного фрагмента mouse включен в кластер 1, а
# cavy, rabbit в кластер 2, cat, dog в 3 и rat в 4 класстер.

# dunn_coeff normalized 
# 0.6147356  0.4863141

ERROR: Error in fanny(kl1, k = 4, memb.exp = 1.7, metric = "euclidean", stand = TRUE, : x is not a numeric dataframe or matrix.

In [26]:
res.fanny = fanny(kl1, k = 2, memb.exp = 1.7,
                  metric = "euclidean", stand = TRUE, maxit = 500)
print(head(res.fanny$membership),3)
res.fanny$coeff
# При k = 2 в результате выводится матрица коэффициентов
# принадлежности, максимальный из которых определяет назначаемый кластер.
# Так из приведенного фрагмента mouse включен в кластер 1: cavy, rabbit, cat, rat 
# а в 2 класстер dog.

# dunn_coeff normalized 
# 0.6660869  0.3321737 

#Серьезных изменений в dunn_coeff не произошло. 
#Так что, действовать нужно по велению исследовательского сердца:)

ERROR: Error in fanny(kl1, k = 2, memb.exp = 1.7, metric = "euclidean", stand = TRUE, : x is not a numeric dataframe or matrix.