## Задание 1. Создание объектов для храниея данных

In [5]:
#1 Ветор

#1.1
S1 = c(1,2,3,4,5,6,7,8,9,10)#ветор
S1 = seq(1,10)
#S1=scan()ввод дынных в консоли

#1.2
S2 = seq(from=1, to=10, by=0.5)

#1.3
S = c(S1,S2)
print(S)

#1.4
V1 = S[3:5] #т.е присвоил V значения S в ячейках 3,4,5
print(V1)

#1.5
V2 = S[c(1,4)]
print(V2)

 [1]  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0 10.0  1.0  1.5  2.0  2.5  3.0
[16]  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0  7.5  8.0  8.5  9.0  9.5 10.0
[1] 3 4 5
[1] 1 4

In [6]:
#2.Таблица

#2.1
city = c('Бишкек','Чолпон-Ата','Баткен','Ош')
sex = c('Ж','М','М','Ж')
strength = c(57849, 1080, 2965, 42475)

#2.3
CITY = data.frame(City = city, Sex = sex, Strength = strength)

#2.4
str(CITY)
names(CITY)
CITY$Strength[1:3]

#2.7
CITY$Strength[c(1,4)]#извелк значения выше 3000

#2.8
CITY$Sex[c(2,3)]

#2.9
head(CITY, n = 1)#n это количество чего нужно показать с начала 
tail(CITY, n = 2)# n это количество чего нужно показать с конца

'data.frame':	4 obs. of  3 variables:
 $ City    : Factor w/ 4 levels "Баткен","Бишкек",..: 2 4 1 3
 $ Sex     : Factor w/ 2 levels "Ж","М": 1 2 2 1
 $ Strength: num  57849 1080 2965 42475

[1] "City"     "Sex"      "Strength"

[1] 57849  1080  2965

[1] 57849 42475

[1] М М
Levels: Ж М

  City   Sex Strength
1 Бишкек Ж   57849

  City   Sex Strength
3 Баткен М    2965
4 Ош     Ж   42475

In [7]:
#3 Матрицы 

#3.1
m1 = seq(1,16)
dim(m1) = c(2,8)

#3.2
m2 = matrix(seq(1,24), nrow = 4, ncol = 6)

#3.3
m3 = t(m2)

#3.4
m4 = matrix(seq(1,16),nrow = 4, ncol = 4)
det(m4)

[1] 0

In [8]:
#4 Массив

#4.1
M1=array(c(1:24),dim=c(6,4))
print(M1)

#4.2
is.array(M1)

     [,1] [,2] [,3] [,4]
[1,]    1    7   13   19
[2,]    2    8   14   20
[3,]    3    9   15   21
[4,]    4   10   16   22
[5,]    5   11   17   23
[6,]    6   12   18   24

[1] TRUE

In [ ]:
#5 Список 

#5.1
cc = seq(1:6)
cy = rep(c('true','false'),3)
L1 = list(cc,cy) #L1=list(1,2,3,4,5,6,'true','false')

#5.2
names(L1) = c('int','bool')
print(L1)

In [9]:
#6 Фактор 

#6.1
f = rep(c('yes','no','parhaps'),2)
f = factor(f,levels = c(c('yes','no','parhaps')))
f

[1] yes     no      parhaps yes     no      parhaps
Levels: yes no parhaps

In [10]:
#7 Фрейм

#7.1
b = c('a','b','c','a')
d = (1:4%%2==0)
e = factor(c('soft','hard','soft','medium'))
data.frame(b,d,e)

  b d     e
1 a FALSE soft
2 b  TRUE hard
3 c FALSE soft
4 a  TRUE medium